@model CreateLotView

@{
    ViewData["Title"] = "Create Lot";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Create New Lot</h2>

            <div class="card border-warning">
                <div class="card-header bg-warning text-dark">
                    <h4 class="mb-0">Lot Details</h4>
                </div>
                <div class="card-body bg-light">
                    <form class="lotForm" asp-controller="Auction" asp-action="SellLot" method="post" enctype="multipart/form-data" id="lotCreateForm">
                        <div class="mb-3">
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3 img">
                            <label asp-for="ImgPath" class="form-label">Main Image Path</label>
                            <input type="file" asp-for="ImgPath" class="form-control inputFileImg" />
                            <span asp-validation-for="ImgPath" class="text-danger"></span>

                            <img src="#" alt="Selected Image" class="img-fluid rounded shadow-sm mt-1" style="max-width: 250px;">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description(optional)</label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        </div>

                        <div class="mb-3">
                            <label asp-for="StartPrice" class="form-label">Start Price</label>
                            <input asp-for="StartPrice" type="number" step="0.01" class="form-control" />
                            <span asp-validation-for="StartPrice" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EndTime" class="form-label">End Time</label>
                            <input asp-for="EndTime" type="datetime-local" class="form-control" />
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Location" class="form-label">Location</label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>

                        

                        <div class="mb-3">
                            <label class="form-label">Additional Photos</label>
                            <div id="additionalPhotos">
                                
                            </div>
                        </div>

                        <button id="addPhoto" class="btn btn-warning">Add Photo</button>

                        <div class="text-center my-2">
                            <button type="submit" class="btn btn-warning text-dark">Create Lot</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addPhoto').click(function (event) {
                event.preventDefault();

                $('#additionalPhotos').append(`
                            <div class="row mb-2 img">
                                <div class="col-auto">
                                    <input type="file" name="additionalPhotos" class="form-control d-inline inputFileImg" />
                                </div>
                                <div class="col-auto">
                                    <img src="#" alt="Selected Image" class="img-fluid rounded shadow-sm" style="max-width: 250px;">
                                </div>
                                <div class="col-auto">
                                    <button class="delPhoto btn btn-danger">🗑️</button>
                                </div>
                            </div>
                        `);
            });

            $(document).on('click', '.delPhoto', function (event) {
                event.preventDefault();

                $(this).closest('.row').remove();
            });
        });
    </script>
}